language: elixir
elixir:
  - 1.3.2
addons:
  postgresql: '9.4'
env:
  - MIX_ENV=test
services:
  - postgresql
before_script:
  - cp apps/dockup_ui/config/travis.exs apps/dockup_ui/config/test.exs
  - mix do deps.get, compile --warnings-as-errors, ecto.create, ecto.migrate
cache:
  directories:
    - deps
    - _build
